$menuItemColor: #052C65;
$mainTextColor: #000000;
$placeholderTextColor: #6C757D;
$borderColor: #D9D9D9;
$borderColor2: #CED4DA;
//$linkMainColor: #0D6EFD;
$backgroundColor: #FFFFFF;
$sumColor: #0D6EFD;
$subTitleColor: #290661;

